html * {
    font-family: Arial;
}

h1 {
    text-align: center;
}

circle {
    width: 150;
}


svg {
    width: 300px;
    height: 300px;
}

#shapes {
    margin-top: 30px;
    text-align: center;
}

#circle1 {
    fill: yellow;
    stroke: black;
    stroke-width: 10px;
  
  
    
}

#circle2 {
    fill: #e60911;
}

#circle3 {
    fill: #39e609;
    stroke: black;
    stroke-width: 10px;
    opacity: 1
}